<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Chatroom</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
		<div class="panel-chat">
			<!-- 用户列表 -->
			<div class="user-online">
				<div class="user-label">在线用户 <span class="js-user-num">0</span></div>
				<div class="user-list">
					<ul class="js-list"></ul>
				</div>
			</div>
			<!-- 对话列表 -->
			<div class="chatting">
				<!-- 历史内容 -->
				<div class="chatting-show">
					<ul class="js-contents contents"></ul>
				</div>
				<!-- 输入框 -->
				<div class="chatting-saying">
					<div class="toolbar">
						<input class="js-emoji emoji" type="button" value="emoji" title="emoji" />
						<label class="imageLabel" for="sendImage">
							<input class="js-image-input" type="file" value="image" />
						</label>
						<input class="js-clear-btn" type="button" value="clear" title="clear screen">
					</div>
					<div class="inputing">
						<textarea class="js-input-message input-message" rows="4" cols="40" placeholder="输入信息"></textarea>
						<input class="js-send-btn send-btn" type="button" value="发送">
					</div>
					<div class="hidden js-emoji-wrapper emoji-wrapper"></div>
				</div>
			</div>
		</div>

		<!-- 入口页面 -->
		<div class="js-panel-connecting panel-connecting">
			<!-- 连接服务器提示页面 -->
			<p class="js-connect-wrapper connect-wrapper">连接服务器中...</p>

			<!-- 登陆注册页面 -->
			<div class="hidden js-entry-wrapper entry-wrapper">
				<ul class="js-trigger-tab trigger-tab">
					<li class="chosen"><a class="js-trigger trigger" href="javascript:void(0)" data-action="login">登录</a></li>
					<li><a class="js-trigger trigger" href="javascript:void(0)" data-action="register">注册</a></li>
				</ul>
				<div class="js-login login">
					<form class="login-form" action="">
						<label>邮箱 <input type="text" name="email" class="js-login-email"></label>
						<label>密码 <input type="password" name="password" class="js-login-pwd"></label>
						<input type="submit" name="submit" value="登录" class="js-login-btn">
					</form>
				</div>
				<div class="js-register register hidden">
					<form class="register-form">
						<label>邮箱 <input type="text" name="email" class="js-reg-email js-reg-input"></label>
						<label>昵称 <input type="text" name="nickname" class="js-reg-name js-reg-input"></label>
						<label>密码 <input type="password" name="pwd1" class="js-reg-pwd1 js-reg-input"></label>
						<label>确认 <input type="password" name="pwd2" class="js-reg-pwd2 js-reg-input"></label>
						<input type="submit" name="submit" value="注册" class="js-register-btn register-btn">
						<button class="js-reset-btn reset-btn">重置</button>
					</form>
				</div>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</body>
</html>
