/* general */
body {
	background: #e6e6e6;
	position: relative;
	min-height: 100vh;
}
.hidden {
	display: none;
}

/* connecting panel */
.panel-connecting {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.connect-wrapper,
.entry-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #ffffff;
	margin: 0;
}
.entry-wrapper {
	height: 350px;
	width: 250px;
}
.trigger-tab {
	display: block;
	padding: 0;
}
.trigger-tab li {
	display: inline-block;
	list-style: none;
	text-align: center;
	width: 40%;
}
.trigger-tab a {
	text-decoration: none;
}
.trigger {
	color: #fff;
}
.trigger:hover {
	color: #ccc;
}
label {
	display: block;
}
.login-form input,
.register-form input {
	margin: 10px;
}

/* chatting panel */
.panel-chat {
	width: 80vw;
	margin: auto;
}
.user-online,
.chatting {
	display: inline-block;
}
.user-online {
	height: 100vh;
	border: 1px solid #ccc;
	float: left;
	width: 24%;
}
.chatting {
	width: 75%;
}
.chatting-show {
	height: 80vh;
	border: 1px solid #ccc;
	background: #fff;
	overflow: scroll;
}
.contents {
	overflow: scroll;
}
.system {
	color: #a70000;
}
.timespan {
	color: #94B9DC;
}
.chatting-show img {
	max-width: 50%;
	max-height: 50%;
}
.chatting-saying {
	height: 20vh;
}
.toolbar *,
.inputing * {
	display: inline-block;
}
.inputing .input-message {
	height: 15vh;
	width: 78%;
	vertical-align: middle;
}
.inputing .send-btn {
	height: 15vh;
	width: 20%;
	vertical-align: middle;
}
.emoji-wrapper {
	position: absolute;
	bottom: 20vh;
	background: #aaaaaa;
	width: 60%;
	height: 150px;
	overflow: scroll;
}
.emoji-wrapper img {
	width: 25px;
	height: 25px;
	margin: 2px;
	padding: 2px;
	display: inline-block;
}
.emoji-wrapper img:hover {
	background-color: #66d9ef;
}
